[jenkins]
user=my_username
password=my_secret_password
url=https://my.jenkins.com/
query_plugins_info=False

[job_builder]
ignore_cache=True
keep_descriptions=False
recursive=True
include_path=.:scripts
